#=======================================
#SEAL SQ 2024
#INeS SDK
#IoT / Tools / Provisioning / Firmware Team
#=======================================

#SPDX-License-Identifier: Apache-2.0*/

# select Product (NONE, 292 or 408) 
VAULTIC_PRODUCT=NONE

# select compilation mode (RELEASE or DEBUG) 
COMPILATION_MODE=RELEASE

# select communication interface
#VAULTIC_COMM=SPI
#VAULTIC_COMM=I2C
 
# select I2C bitrate source
#FORCE_I2C_BITRATE=NO   # use platform bit rate
#FORCE_I2C_BITRATE=YES # force bit rate from the app 

#Wolfssl Version
WOLFSSL_TAG=v5.7.0-stable